/* Main */

.main {
  display: flex;
}

.background {
  background: linear-gradient(#4392c0, #26D0CE)
}

.brand {
  background: url("./covid-img-small.png") no-repeat center;
  height: 250px;
}

.covidStats {
  font-weight: 200;
}

.covidStats, .covidText {
  width: 50%;
  margin: 0 auto;
  color: white;
}

.covidText div {
  width: 70%;
  margin: 150px 75px;
  height: 250px;
}

.covidText div p {
  font-size: 10rem;
  width: 100%;
  text-align: center;
  text-shadow: 7px 7px rgba(254, 78, 123);
}

.covidStats div {
  position: relative;
  left: -400px;
  width: 130%;
  height: 250px;
  margin: 150px 75px;
  padding: 45px 50px 25px 25px;
  text-align: right;
  border-radius: 5px;
  box-shadow: -7px 7px 3px #4392c0, 7px -7px 3px rgba(254, 78, 123);
  font-size: 3.5rem;
}

.covidStats div p {
  font-size: 2rem;
  padding: 10px 0;
}

.covidStats div p i {
  padding: 10px 0 10px 15px;
}

footer {
  background: transparent;
  text-align: center;
  min-height: 50px;
  color: white;
}

p {
  font-size: 1.2rem;
  padding: 10px 0 0 0;
}

/* Credentials */

.credentials {
  width: 80%;
  margin: 250px auto;
  text-align: center;
  color: white;
}

.credentials p {
  font-size: 3rem;
  font-weight: 200;
}

.credentials p span {
  color: rgba(254, 78, 123);
  font-weight: 400;
}

.credentials p a {
  text-decoration: none;
  color: rgba(254, 78, 123);
  transition: .5s;
  padding: 0 10px;
  font-weight: 400;
}

.credentials p a:hover {
  color: rgba(254, 78, 123);
  text-decoration: none;
}

/* Logo */

.logo {
  padding: 100px;
  text-align: center;
}

.logo span {
  font-size: 5rem;
  font-weight: 200;
  color: white;
  padding: 10px;
  position: relative;
  top: 20px;
  margin: 0 15px;
}